<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Edición de Pelicula</title>
      <!-- bootstrap -->
      <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
        crossorigin="anonymous"
      >
      <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <h1>Edición de pelicula:</h1> 
    <main>
      <div class="form-container">
        <form action="???" method="POST" >
  
          <div class="field-wrap">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title">
          </div>
          
          <div class="field-wrap">
            <label for="genre">Genre:</label>
            <input type="text" name="genre" id="genre">
          </div>
          
          <div class="field-wrap" >
            <label for="rating">Rating:</label>
            <input type="number" name="rating" id="rating">
          </div>

          <div class="field-wrap" >
            <label for="image">image:</label>
            <input type="file" name="image" id="image">
          </div>

          
          <div class="field-wrap">
            <button type="submit">
              Guardar cambios
            </button>
          </div>

        </form>
      </div>            
    </main>
    <%- include("partials/footer.ejs") %> 
  </body>
</html>