<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición de Pelicula</title>
    <!-- bootstrap -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <main>
        <h1>Detalle de la Pelicula:</h1>
        <div class="container">
            <article>

              <div class="img-container">
                <img src="/images/???" alt="???">
              </div>

              <p>Caracteristicas:</p>
              <ul>
                <li>
                  Titulo:  
                </li>
                <li>
                  Genero: 
                </li>
                <li>
                  Raiting: 
                </li>
              </ul>

              <div>
                <a href="/movies/edit/??">
                  <button type="button">Editar</button>
                </a>
              </div>
              <div>
                <form action="???" method="???">
                  <button type="submit">
                    borrar
                  </button>
                </form>
              </div>

            </article>
        </div>

    </main>

    <%- include("partials/footer.ejs") %> 
</body>
</html>